:root{
    font-size : 16px;
}

body {
    margin: 0;
    padding: 0;      
}

.container {
    display: flex;
    flex-direction: column;
    margin:0 5vw 5vw;
    font-family: "Open Sans";   
}

.banner {
    display: flex;
    flex-direction: row;
    background: #00a1f1;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 2vw 2vw 0 2vw ;
    width : 40vw;
}
.banner .about-me {
    margin : 5vw 2vw 0 2vw;
    
    
}

.my-image {
    border: 1px solid #07acf8;
    border-radius: 50vw;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 15vw;
    height: 15vw;
}

.banner .heading {
    margin :2vw;
}

.banner .heading h1,h3 {
    margin : 0;
    padding : 0;
    width : 22vw;
}

.row h2 {
    margin:0 0 0 3.6vw;
}

.row .paragraph {
    margin : 1vw 0 1vw 0;
}

.icon-group {
    margin-top: 2vh; 
}
.icon-group .icon {
      margin-right: 2vw;
      width: 5vw; 
}
.tech-icon{
    width:16vw;
}


