:root{
    font-size : 18px;
}

body {
    margin: 0;
    padding: 0;      
}

.container {
    display: flex;
    flex-direction: column;
    margin:0 ;
    font-family: "Open Sans"; 
      
}
/*head banner*/
.banner {
    display: flex;
    flex-direction: row;
    background: #00a1f1;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    align-items: center;
    justify-content: center;
    margin:0;
}


.card{
    display: flex;
    flex-direction: column;
    margin: 2vw;
    /*width : 80vw;*/
}
.banner .about-me {
    margin : 5vw; 
    color: whitesmoke;
    
}

.my-image {
    border: 1px solid whitesmoke;
    border-radius: 50vw;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 15vw;
    height: 15vw;
}

.banner .heading {
    margin :2vw;
}

.banner .heading h1,h3 {
    margin : 0;
    padding : 0;
    color: white;
    /*width : 22vw;*/
}


/*end of header banner*/

.row {
    display: flex;
    flex-direction: column;
    margin:0 ;
    font-family: "Open Sans";
    align-items: center; 
        
}
.row h2 {
    font-size: 2rem;
    text-align: center;    
}

.row .paragraph {
    margin : 1vw 0 1vw 0;
    width : 100%;   
}

/*Interests section*/
.icon-group {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;     
}


.tech-icon{
    width:12vw;
    padding: .5vw;
    margin : .5vw;
    transition : box-shadow .3s;
}

.tech-icon:hover{
    box-shadow: 0px 3px 20px 4px #2c2c2c;
}
/*Professional Experiance section*/

.experiance{
    background-color: aqua;
    padding: 2vw 10vw;
}

/*Projects section*/
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-details{
    width:16vw;
    padding: 0 1vw 1vw 1vw;
    margin : .5vw;
    border: 1px solid grey;
    transition : box-shadow .3s;
    
}
.project-details:hover{
    box-shadow: 0px 3px 20px 4px #2c2c2c;
}

/*Contact Section*/
.contact-icon{
    height:4vw;
    width:4vw;
    padding : 1vw;
    margin : .5vw;
}

@media only screen and (min-width: 767px) and (max-width :1024px){
    .banner{
        display: flex;
        flex-direction: column;
    }

    .card{
        display:flex;
        flex-direction: row;
        align-items: center;
    }

    .my-image {
        width: 25vw;
        height: 25vw;
    }

    .tech-icon{
        width:19vw;
        
    }

    .project-details{
        width:30vw;
    }
    .contact-icon{
        height:6vw;
        width:6vw;
    }


}

@media only screen and (min-width: 480px) and (max-width :768px){

    .banner{
        display: flex;
        flex-direction: column;
    }

    .card{
        display:flex;
        flex-direction: row;
        align-items: center;
    }

    .my-image {
        width: 25vw;
        height: 25vw;
    }
    .tech-icon{
        width:25vw;
        
    }
    .project-details{
        width:35vw;
    }
    .contact-icon{
        height:6vw;
        width:6vw;
    }


  }
  
  @media only screen and (max-width:480px){
     
    .banner{
        display: flex;
        flex-direction: column;
    }

    .card{
        display:flex;
        flex-direction: column;
        
    }
    .my-image {
        width: 40vw;
        height: 40vw;
    }

    .tech-icon{
        width:35vw;
        
    }

    .project-details{
        width:45vw;
    }

    .contact-icon{
        height:8vw;
        width:8vw;
    }
  }