:root{
    font-size : 20px;
}

body {
    margin: 0;
    padding: 0;      
}

.container {
    display: flex;
    flex-direction: column;
    margin:0vw 10vw;
}

.banner {
    display: flex;
    flex-direction: row;
    background: grey;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 4vw;
    width : 30vw;
}
.banner .about-me {
    margin: 3vw;
}

.my-image {
    border: 1px solid #07acf8;
    border-radius: 50vw;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 15vw;
    height: 15vw;
}
